{{>navbar}}
<div id="divJumboTron" class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
        <h1 id="themeTitle" class="display-3"><span class="fa fa-exclamation-triangle"></span>{{statusCode}}</h1>
        <p id="themeColor" class="lead">{{message}}</p>
    </div>
</div>