<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>COIMA</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type='text/javascript' src='/javascripts/request.js'></script>
    <script type='text/javascript' src='/javascripts/list.js'></script>
    <script type='text/javascript' src='/javascripts/movie.js'></script>
    <script type='text/javascript' src='/javascripts/movieList.js'></script>
    <script type='text/javascript' src='/javascripts/movieDetails.js'></script>
</head>
<body>
{{{body}}}
<footer class="footer">
    <div class="container">
        <hr>
        <div class="row mt-3">
            <div class="col text-center">
                <p>&copy;COIMA developed for the Internet Progamming course at ISEL </p>
                <a href="https://www.themoviedb.org/"><img src="/images/powered_by_rectangle_green.jpg"
                                                           width="100px"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
