<div id="marginTop" class="container">
    <a id="aCoima" href="/home">
        <h1 id="txtAlignCenter" class="display-2"><span class="fa fa-film"></span>COIMA</h1>
        <h1 id="txtAlignCenter" class="lead">Sign in to manage your movie lists as you wish</h1>
    </a>
    <form method="post" action="/auth/signin">
        <div class="form-group">
            <label class="lead">Username:</label>
            <input type="text" name="username" class="form-control"/>
        </div>
        <div class="form-group">
            <label class="lead">Password:</label>
            <input type="password" name="password" class="form-control"/>
        </div>
        {{#if loginError.message}}
            <div class="alert alert-warning" role="alert">
                <strong>Warning! {{loginError.message}}</strong>
            </div>
        {{/if}}
        <div>
            <h1 class="lead">If you are not one of us, <a href="/auth/register">click here</a> to register!</h1>
        </div>
        <div id="txtAlignCenter" class="form-group">
            <button class="btn btn-outline-warning" type="submit">Log In</button>
        </div>
    </form>
</div>